---
import FacebookIcon from "@/icons/FacebookIcon.astro";
import InstagramIcon from "@/icons/InstagramIcon.astro";
import TripadvisorIcon from "@/icons/TripadvisorIcon.astro";
---

<footer
    class="bg-primary-medium rounded-lg shadow-sm w-full m-4 mx-auto max-w-5xl text-cuarto"
>
    <div
        class="p-4 md:flex md:items-center md:justify-between font-body-medium"
    >
        <span class="text-sm"
            >© 2025 <a href="#" class="hover:underline">Bar-Cafe 1874™</a>.
            Todos los derechos reservados.
        </span>
        <ul
            class="flex flex-row gap-x-2 justify-center md:items-center mt-3 text-sm sm:mt-0"
        >
            <li class="hover:scale-110 hover:text-cuarto-light transition">
                <a href="https://www.facebook.com/share/1LsEKt2k5q/">
                    <FacebookIcon />
                </a>
            </li>
            <li class="hover:scale-110 hover:text-cuarto-light transition">
                <a href="https://www.instagram.com/bar_cafe1874/">
                    <InstagramIcon />
                </a>
            </li>
            <li class="hover:scale-110 hover:text-cuarto-light transition">
                <a
                    href="https://www.tripadvisor.com/Restaurant_Review-g3314210-d21375736-Reviews-Cafe_1874-Ciego_de_Avila_Ciego_de_Avila_Province_Cuba."
                >
                    <TripadvisorIcon />
                </a>
            </li>
        </ul>
    </div>
</footer>
