---

---

<header class="w-full m-4 mx-auto max-w-5xl text-cuarto">
    <div
        class="flex animate-blurred-fade-in animate-delay-200 justify-center w-full items-center"
    >
        <img class="w-[280px]" src="/Listo.webp" alt="" />
    </div>
    <nav
        class="flex flex-row animate-fade-in animate-delay-150 justify-around items-center font-special-regular text-3xl"
    >
        <div
            class="flex justify-center gap-x-4 border-secondary-light border-b-2 w-6xl"
        >
            <a class="hover:text-cuarto-light transition" href="#">Home</a>
            <a class="hover:text-cuarto-light transition" href="#">Menu</a>
            <a class="hover:text-cuarto-light transition" href="#">Eventos</a>
        </div>
        <div
            class="flex justify-center gap-x-4 border-secondary-light border-b-2 w-6xl"
        >
            <a class="hover:text-cuarto-light transition" href="#">Blog</a>
            <a class="hover:text-cuarto-light transition" href="#">About</a>
            <a class="hover:text-cuarto-light transition" href="#">Contacto</a>
        </div>
    </nav>
</header>
