---
// src/pages/loading.astro
import LoadingScreen from "@/components/layout/LoadingScreen.astro";
import { setTimeout } from "timers/promises";
import Layout from "@/layouts/Layout.astro";
import Estructura from "@/components/ui/Estructura.astro";
await setTimeout(4000);
---

<Layout>
    <Estructura>
        <body>
            <LoadingScreen />
            <script>
                setTimeout(() => {
                    window.location.href = "/Home";
                }, 4000);
            </script>
        </body>
    </Estructura>
</Layout>
