---
import Layout from "@/layouts/Layout.astro";
import Estructura from "@/components/ui/Estructura.astro";
---

<Layout>
    <Estructura>
        <h1
            class="text-4xl md:text-7xl font-title-bold text-secondary-dark text-center mb-12"
        >
            Cafe 1874
        </h1>
    </Estructura>
</Layout>
