---
import "../styles/global.css";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import Analytics from "@vercel/analytics/astro";
import  SpeedInsights  from "@vercel/speed-insights/astro"
const siteUrl = "https://bar-1874-app.vercel.app";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta
            name="description"
            content="Bar-Cafe 1874 es el mejor bar y café de la ciudad. ¡Ven y disfruta de nuestra amplia selección de bebidas y deliciosos platos!"
        />
        <!-- Open Graph (Facebook, WhatsApp, LinkedIn) -->
        <meta property="og:title" content="Bar-Cafe 1874" />
        <meta
            property="og:description"
            content="El mejor bar y café de la ciudad. Amplia selección de bebidas y platos deliciosos en un ambiente único."
        />
        <meta property="og:image" content={`${siteUrl}/1754250473517.webp`} />
        <meta property="og:url" content={siteUrl} />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="es_ES" />

        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Bar-Cafe 1874" />
        <meta
            name="twitter:description"
            content="Descubre el mejor bar y café de la ciudad con ambiente único y platos exquisitos"
        />
        <meta name="twitter:image" content={`${siteUrl}/1754250473517.webp`} />
        <!-- Reemplaza con tu @usuario de Twitter -->

        <meta name="generator" content={Astro.generator} />
        <title>Bar-Cafe 1874</title>
        <SpeedInsights/>
        <Analytics />
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
    </body>
</html>

<style>
    html,
    body {
        background: #0d0d0d;
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
