---
import { getCollection, getEntryBySlug } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Estructura from "@/components/ui/Estructura.astro";

export async function getStaticPaths() {
    const platillos = await getCollection("menu");
    return platillos.map((platillo) => ({
        params: { slug: platillo.slug },
        props: { platillo },
    }));
}

const { slug } = Astro.params;
const { platillo } = Astro.props;
const { Content } = await platillo.render();
---

<Layout>
    <Estructura>
        <div
            class="flex flex-col md:flex-row justify-between gap-8 max-w-4xl mx-auto px-4"
        >
            <div class="md:w-1/2">
                <img
                    src={platillo.data.image_url}
                    alt={platillo.data.name}
                    class="w-full h-64 md:h-96 object-cover rounded-lg shadow-lg my-6"
                    loading="lazy"
                />
            </div>

            <section class="md:w-1/2 flex flex-col justify-center items-center">
                <div>
                    <h1
                        class="text-4xl md:text-7xl font-title-bold text-secondary-dark text-center mb-12"
                    >
                        {platillo.data.name}
                    </h1>
                    <p
                        class="text-xl md:text-2xl text-cuarto-light font-special-medium font-bold mt-2"
                    >
                        ${platillo.data.price}
                    </p>
                </div>

                <div
                    class="prose lg:prose-xl max-w-none mt-6 text-tercero-dark"
                >
                    <Content />
                </div>

                <a
                    href="/menu/"
                    class="mt-7 inline-block w-40 px-4 py-2 bg-primary-medium hover:bg-primary-ligth text-secondary-medium hover:text-secondary-light rounded-full transition-colors duration-300 font-medium text-lg"
                >
                    Volver al Menu
                </a>
            </section>
        </div>
    </Estructura>
</Layout>
