---
import Layout from "@/layouts/Layout.astro";
import Estructura from "@/components/ui/Estructura.astro";
---

<Layout>
    <Estructura>
        <h1 class="text-7xl font-title-bold text-secondary-dark">
            Cafe 1874 Menu
        </h1>
    </Estructura>
</Layout>
