---

---

<main class="grid grid-cols-4 grid-rows-2 gap-4">
    <a
        class="flex flex-col justify-center items-center text-4xl font-special-regular gap-2 bg-yellow-200/40 rounded-4xl row-span-2 hover:scale-105 transition"
    >
        <img class="" src="/Listo.webp" alt="" />
        <h1>Hola</h1>
    </a>
    <a
        class="flex justify-center items-start gap-4 col-span-2 bg-red-300 text-primary-dark rounded-4xl hover:scale-105 transition"
    >
        <h1>Hola</h1>
    </a>
    <a
        class="flex justify-center items-start gap-4 bg-pink-300 rounded-4xl hover:scale-105 transition"
    >
        <h1>Hola</h1>
        <img src="/Listo.webp" alt="" />
    </a>
    <a
        class="flex justify-center items-start gap-4 bg-blue-500 rounded-4xl hover:scale-105 transition"
        href="/menu/"
    >
        <h1>Hola</h1>
        <img src="/Listo.webp" alt="" />
    </a>

    <a
        class="flex justify-center items-start gap-4 bg-green-300 rounded-4xl hover:scale-105 transition"
    >
        <h1>Hola</h1>
        <img src="/Listo.webp" alt="" />
    </a>
    <a
        class="flex justify-center items-start gap-4 bg-sky-300 row-span-2 rounded-4xl hover:scale-105 transition"
    >
        <h1>Hola</h1>
    </a>
    <a
        class="flex justify-center items-start gap-4 col-span-2 bg-primary-medium rounded-4xl hover:scale-105 transition"
    >
        <h1>Hola</h1>
    </a>

    <a
        class="flex justify-center items-start gap-4 bg-amber-500 rounded-4xl hover:scale-105 transition"
    >
        <h1>Hola</h1>
        <img src="/Listo.webp" alt="" />
    </a>
</main>
