---
import Estructura from "@/components/ui/Estructura.astro";
---

<Estructura>
    <section
        class="flex flex-col animate-fade-in animate-delay-150 gap-2 justify-center items-center py-4"
    >
        <div class="flex justify-center">
            <img class="" src="/1754250473505.webp" alt="" />
        </div>
        <div>
            <h1
                class="text-4xl md:text-7xl font-title-bold text-secondary-dark text-center mb-12"
            >
                El mejor sitio para disfrutar la noche en buena compañia con la
                farandula de ciego
            </h1>
        </div>
        <div
            class="flex justify-center transition rounded-lg hover:animate-pulsing hover:bg-primary-ligth hover:text-cuarto-light items-center bg-primary-medium w-40 mt-8"
        >
            <a
                class="font-special-medium text-sm py-2 px-4"
                href="https://api.whatsapp.com/send?phone=5353295533&text=%F0%9F%91%8B%20Hola%2C%20vengo%20de%20https%3A%2F%2Fbar-cafe-1874%20%0ADeseo%20realizar%20el%20siguiente%20pedido%3A%0A"
            >
                Reserva Ahora!
            </a>
        </div>
    </section>
</Estructura>
